html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*Typografy*/
body{font-size:13px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

h1,h2,h3,h4,h5{padding-bottom:15px;padding-top:15px;}
h1{font-size:23px;}
h2{font-size:21px;}
h3{font-size:19px;}
h4{font-size:16px;}
h5{font-size:13px;}

/*Grid*/
.container{max-width:980px;margin:auto;background:yellow;}

.header{border-bottom:1px solid;}
.header h1{padding-bottom:14px;}
.header h1{padding-bottom:14px;}
.header h1{padding-bottom:14px;}
.header h1{padding-bottom:14px;}
.header h1{padding-bottom:14px;}

.row{clear:both;content:"";margin:15px 0;display:table;width:100%;}
.one,.two,.three,.four,.five,
.six,.seven,.eight,.nine,.ten,
.eleven,.twelve{float:left;min-height:25px; /*test*/line-height:25px;background:#eee;}

.row .content{margin:0 15px;}

.one{width:8.33333%;}
.two{width:16.6667%;}
.three{width:25%;}
.four{width:33.3333%;}
.five{width:41.6667%;}
.six{width:50%;}
.seven{width:58.3333%;}
.eight{width:66.6667%;}
.nine{width:75%;}
.ten{width:83.3333%;}
.eleven{width:91.6667%;}
.twelve{width:100%;}

/* Responsive Design */
@media screen and (max-width: 980px) {
	.one,.two,.three,.four,.five,
	.six,.seven,.eight,.nine,.ten,
	.eleven,.twelve{width:100%;}
}

.test{background:#eee;}
